name: Run tests
on:
  push:
    branches: main
  pull_request:
  workflow_call:

jobs:
  build-and-test-32bit:
    name: Build & test - x86
    runs-on: windows-2022
    steps:
      - name: Log installed Windows SDK versions
        shell: pwsh
        continue-on-error: true
        run: Get-ChildItem -Name "HKLM:\SOFTWARE\Microsoft\Windows Kits\Installed Roots"

      - name: Log active MSVC compiler version
        shell: pwsh
        continue-on-error: true
        run: |
          $installDir = vswhere -latest -products * -requires Microsoft.VisualStudio.Component.VC.Tools.x86.x64 -property installationPath
          $path = Join-Path $installDir 'VC\Auxiliary\Build\Microsoft.VCToolsVersion.default.txt'
          $version = Get-Content -raw $path
          $clPath = Join-Path $installDir "VC\Tools\MSVC\$($version.Trim())\bin\Hostx64\x64\cl.exe"
          & $clPath

      - name: Add MSBuild to the PATH
        uses: microsoft/setup-msbuild@v2

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all the history so that `git describe` works to generate the version header
          fetch-tags: true

      - name: Build debug binaries
        run: msbuild /r /m /p:Configuration=Debug /p:Platform=x86 build\foo_openlyrics.sln

      - name: Run tests
        run: build\Debug\test_foo_openlyrics.exe build\Debug\foo_openlyrics.dll

      - name: Build release binaries
        run: msbuild /r /m /p:Configuration=Release /p:Platform=x86 build\foo_openlyrics.sln

  build-and-test-64bit:
    name: Build & test - x64
    runs-on: windows-2022
    steps:
      - name: Add MSBuild to the PATH
        uses: microsoft/setup-msbuild@v2

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all the history so that `git describe` works to generate the version header
          fetch-tags: true

      - name: Build debug binaries
        run: msbuild /r /m /p:Configuration=Debug /p:Platform=x64 build\foo_openlyrics.sln

      - name: Run tests
        run: build\x64\Debug\test_foo_openlyrics.exe build\x64\Debug\foo_openlyrics.dll

      - name: Build release binaries
        run: msbuild /r /m /p:Configuration=Release /p:Platform=x64 build\foo_openlyrics.sln
